<strong>Companions:</strong>
<ul>
<% @doctor.companions.each do |companion| %>
  <% cache companion do %>
    <% wait 1 %>
    <li>
      <%= link_to companion.name, companion %>
      </li>
  <% end %>
<% end %>
</ul>
