div#header {
  h1 {
    background-color: #f44;
    padding: 20px;
    color: #eee;
    width: 360px;
    text-align: center;
  }
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
